<div id="main__bottom__footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><span class="font__bold">Help</span></li>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Cancellation</a></li>
          <li><a href="#">Faqs</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><span class="font__bold">Legal</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>