{% load cart_tags %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4><a class="no__style__link" href="#"><span style="color: #0085a1;" class="icon icon-shop"></span> <span style="color: #362c1b;" class="font__bold">Flavood</a></h4>
    </div>
    <div class="col-sm-3 col-sm-offset-2">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
              <button class="btn btn-default btn__stylish--default" type="button">Go!</button>
          </span>
      </div>
    </div>
    <div class="col-sm-3">
        {% get_cart as main_cart %}
        <div class="dropdown">
          <button class="btn btn-default btn__stylish--default dropdown-toggle" type="button" id="main__cart__dropdown__menu" data-toggle="dropdown">
            <span class="icon icon-shopping-cart"></span> Cart <sup><span id="cart__default__count" class="label label-default">{{ main_cart.count }}</span></sup>
            <span class="caret"></span>
          </button>
          <div id="cart__dropdown_parent" class="dropdown-menu" role="menu" aria-labelledby="main__cart__dropdown__menu">
            <div id="cart__dropdown">
              {% if main_cart.count == 0 %}
                <p class="text-info">Your cart is empty</p>
              {% else %}
                {% for k, v in main_cart.cart_dict.items %}
                  <div class="media">
                    <a href="#" class="pull-left"><img width="40" height="36" src="{{ v.thumbnail }}" alt=""></a>
                    <div class="media-body">
                      <a href="#">{{ v.name }}</a>
                      <p>Qty - {{ v.qty }} X {{ v.qty_display }}</p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <div class="{% if main_cart.count == 0 %} hide {% endif %}" id="main__cart__btn__codes">
              <button class="btn btn-default">Checkout</button>&nbsp;&nbsp;&nbsp;<a href="{% url 'cart_view' %}" class="btn btn-success">View Cart</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs nav__tabs--outer" role="tablist">
        <li {% if request.resolver_match.url_name == "home_page" %} class="active" {% endif %}><a href="{% url 'home_page' %}">Home</a></li>
        <li {% if request.resolver_match.url_name == "vendor_view" %} class="active" {% endif %} ><a href="{% url 'vendor_view' %}">All vendors</a></li>
      </ul>
    </div>
  </div>
</div>