{% extends '_layouts/base.html' %}

{% block sub_nav %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row main__static__block">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1 class="font__mid text-center">Do you own a growing business and looking to expand ?</h1>
            <p class="text-center partner__desc">We're a Startup Studio. A company that builds companies. Sharing people, resources and technologies to accelerate our successes. We develop digital products for ourselves and select partners.</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-2 col-xs-offset-5">
            <button type="button" class="btn btn-primary btn-lg btn-block">Register Now</button>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="col-xs-12">
            <h3 class="text-center faq__title">Frequently asked questions</h3>
            <p class="faq__ques">What type of businesse's can join Flavood ?</p>
            <p class="faq__ans">Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.</p>
            <p class="faq__ques">How can i join Flavood ?</p>
            <p class="faq__ans">Click on the register button above. Once done we will contact you.</p>
        </div>
    </div>
</div>
<!-- <div class="partner__section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 partner__section--content">
                <h3 class="text-center">Why us?</h3>
                <ul class="list-unstyled">
                    <li>User Experience</li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}