{% extends '_layouts/base.html' %}

{% block sub_nav %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row main__static__block">
        <div class="col-sm-2 delights__side__menu">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
              <li role="presentation" class="active"><a href="#">Terms of service</a></li>
              <li role="presentation"><a href="#">Privacy</a></li>
              <li role="presentation"><a href="#">Vendors</a></li>
              <li role="presentation"><a href="#">Return Policy</a></li>
              <li role="presentation"><a href="#">Delivery Info</a></li>
              <li role="presentation"><a href="#">Business Opportunities</a></li>
            </ul>
        </div>
        <div class="col-sm-10 delights__static__content">
            <h1 class="font__mid">Terms of service</h1>
            <p>These are our terms of service. They're long and boring, but they're here to protect both you and us - and make sure we have a long and happy relationship together. Please take a moment to review all of these terms, so you know what you're agreeing to.</p>
            <p>We provide this Privacy Policy so you know what we do regarding the collection, use and disclosure of personal information we receive from users of the Service. This Privacy Policy applies only to information that you provide to us through the Service. Your use of the Service is your consent to the collection, disclosure, transfer, processing, storage and other uses of your information as described in this Privacy Policy.</p>
            <p>Our Core Privacy Principles:</p>
            <ul>
                <li>We take your privacy very seriously.</li>
                <li>We collect your information to provide and improve our Service and increase your enjoyment in using it.</li>
                <li>We don’t disclose your Personal Information to third parties except as set forth in this Privacy Policy.</li>
                <li>Providing us with your Personal Information is your choice.</li>
            </ul>
            <p>You may use certain features of the Service without registering; however, to get access to all the features of the Service you will need to register at which time you will be asked to provide certain information most of which is optional. The only information you are required to provide is your name, (which will be publicly visible), a user name (which will be publicly visible), your email (which will not be publicly visible) and a password (which will not be publicly visible). All other information you provide when registering or later add to your profile is optional. Additional profile information you choose to provide, including your name, will be publicly available.</p>
            <p> Information Collected via FullContact Apps and Developer Apps. When you use a FullContact App or Developer App, the app will collect End User Contact Data from your address books. “End User Contact Data” means information about your contacts that we collect from your address book(s) or your email and includes first name, last name, birth date, age, email address, gender, company, job title, photos, website urls, social network handles, instant messenger handles, physical address (but does not include any information that you provide when you register for any of our Sites or Services or Developer Apps)(collectively, “End User Contact Data”). </p>
        </div>
    </div>
</div>
{% endblock %}