{% extends '_layouts/base.html' %}

{% block sub_nav %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <div class="partner__form__block">
                <h4 class="font__mid">Thank You !!!</h4>
                <p class="partner__sell__desc">We will contact you in next 24 hours to proceed your request.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('body').addClass('partner__register__form__pg')
    })
</script>
{% endblock %}